<h1 style="text-align: center;">Crowd Knowledge Contribution</h1>
<br />
<h2>@ViewBag.Message</h2>
<h2>Articole</h2>

@if (ViewBag.esteAdmin)
{
<a class="btn btn-primary" href="/Domenii/Index">Afisare domenii</a>}

@if (ViewBag.afisareButoan == true)
{
<a class="btn btn-primary" href="/Articole/New">Adauga articol</a>}

@if (ViewBag.sortMe == "alfabetic")
{
    <a class="btn btn-primary" href="?search=@ViewBag.search">Sorteaza dupa data</a> 
}
else
{
    <a class="btn btn-primary" href="?sort=alfabetic&search=@ViewBag.search">Sorteaza alfabetic</a>
}


<br />
<br />
<br />

<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="text" name="search" value="@ViewBag.SearchString"
                               placeholder="Search topics or keywords">
                    </div>
                    <br />
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
<br />
<br />
@*<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                @if (ViewBag.search != "")
                {<a href="/Articles/Index?page=1&search=@ViewBag.SearchString" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a> }
                else
                {
    <a href="/Articles/Index?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>}
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.search != "")
                {
<li><a href="/Articles/Index?page=@i&search=@ViewBag.SearchString">@(i)</a></li>
 }
else
{
<li><a href="/Articles/Index?page=@i">@(i)</a></li>
}
}
            <li>
                @if (ViewBag.search != "")
                {
    <a href="/Articles/Index?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a> }
else
{ <a href="/Articles/Index?page=@(ViewBag.lastPage)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>}
            </li>
        </ul>
    </nav>
</div>*@

@foreach (CrowdKnowledge2.Models.Articol articol in ViewBag.Articole)
{
<div class="panel panel-default">
    @Html.Partial("ArticolInfo", articol)
    <div class="panel-footer">
        <a class="btn btn-success" href="/Articole/Show/@articol.IDArticol">Afisare articol</a>
    </div>
</div>}


